<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div>
    <form action="#" method="POST">
        <table border="1">
            <!--제목 -->
            <tr>
                <td>제목: </td>
                <td colspan="3"> <p th:text="${board.title}"></p></td>

            </tr>
            <!--제목 -->
            <tr>
                <td>작성자: </td>
                <td> <p th:text="${board.name}"></td>

                <td>비밀번호: </td>
                <td> <input type="password" name="password"></td>
            </tr>

            <!--콘텐츠-->

            <tr>
                <td colspan="4">
                    <textarea name="contents" cols="50" rows="10" th:text="${board.contents}" readonly></textarea>
                </td>

            </tr>

            <!--Buttons-->
            <tr>
                <td colspan="4">

                    <button type="button" onClick="location.href='/list'">목록</button>
                    <button type="button" th:onClick="|location.href='@{/modify/{no}(no=${board.no})}'|">수정</button>
                    <!-- th:onClick 리터럴 치환으로 대처한다. -->
                    <button type="button" th:onClick="|location.href='@{/delete(no=${board.no})}'|">삭제</button>




                </td>

            </tr>


        </table>

        <br>
    </form>
</div>
</body>

</html>